name: Publish Release

on:
  workflow_dispatch:

jobs:
  publish-release:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout git repo
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Install Node and pnpm
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install and build
        run: pnpm install

      - name: Publish Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm run publish
